* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffffde;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 768px){
  .header{
    background-color: #1a1a1a;
    padding: 10px;
  }

  .header h2 {
    font-size: 1rem;
  }
  .header nav {
    display: none;
  }

  .dropdown {
    display: flex;
  }

  .apresentation {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    text-align: center;
    max-width: 90%;
  }

  .texto {
    font-size: 0.9rem;
  }

  .img {
    max-width: 50%;
    margin: auto;
  }

  .apresentation img {
    width: 90%;
  }

  .text{
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
  }

  .about {
    max-width: 90%;
    text-align: justify;
  }

  .all-projects {
    flex-direction: column;
    width: auto;
  }

  .all-projects .body {
    width: auto;
    padding: 5px;
  }

  .body img {
    width: 100%;
    height: auto;
  }

  .carrosel {
    max-width: 100%;
    padding: 10px;
  }

  .icons div , .icons2 div {
    flex-wrap: wrap;
  }

  .icons button, .icons2 button {
    padding: 0.5rem 0.5rem;
  }
}



