.project {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project div {
    width: 60%;
    margin: 2rem auto;
}

.project div p {
    margin: 2rem 0;
}

.project h2 {
    margin: 3rem;
}

.project img {
    width: 100%;
    border-radius: 10px;
    transition: 1s;
}

.project img:hover {
    scale: 1.05;
}
