.icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

.icons div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icons svg {
    font-size: 2.5rem;
}