.icons2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3rem 0;
}

.icons2 div {
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
}

.icons2 svg {
    font-size: 2.5rem;
}



.icons2 a {
    color: white;
}

.icons2 a:hover {
    color: white;
}